<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="pmsApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.paymentFrom">Payment From</span></dt>
        <dd>
          <span>{{ payment.paymentFrom | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.paymentTo">Payment To</span></dt>
        <dd>
          <span>{{ payment.paymentTo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.price">Price</span></dt>
        <dd>
          <span>{{ payment.price }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.payedMoney">Payed Money</span></dt>
        <dd>
          <span>{{ payment.payedMoney }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.payer">Payer</span></dt>
        <dd>
          <span>{{ payment.payer?.id }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.service">Service</span></dt>
        <dd>
          <div *ngIf="payment.service">
            <a [routerLink]="['/service', payment.service.id, 'view']">{{ payment.service.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pmsApp.payment.group">Group</span></dt>
        <dd>
          <div *ngIf="payment.group">
            <a [routerLink]="['/groups', payment.group.id, 'view']">{{ payment.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
