<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userAdd">
      <h2 data-cy="userAddDetailsHeading"><span jhiTranslate="pmsApp.userAdd.detail.title">User Add</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userAdd.id }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.userAdd.account">Account</span></dt>
        <dd>
          <span>{{ userAdd.account }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.userAdd.user">User</span></dt>
        <dd>
          <span>{{ userAdd.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-add', userAdd.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
