<div>
  <h2 id="page-heading" data-cy="PaymentHistoryHeading">
    <span jhiTranslate="pmsApp.paymentHistory.home.title">Payment Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pmsApp.paymentHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-history"
        [routerLink]="['/payment-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pmsApp.paymentHistory.home.createLabel"> Create a new Payment History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentHistories?.length === 0">
    <span jhiTranslate="pmsApp.paymentHistory.home.notFound">No Payment Histories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="paymentHistories && paymentHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="organizationName">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.organizationName">Organization Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceName">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.serviceName">Service Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groupsName">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.groupsName">Groups Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentFrom">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.paymentFrom">Payment From</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentTo">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.paymentTo">Payment To</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.paymentHistory.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentHistory of paymentHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-history', paymentHistory.id, 'view']">{{ paymentHistory.id }}</a>
          </td>
          <td>{{ paymentHistory.organizationName }}</td>
          <td>{{ paymentHistory.serviceName }}</td>
          <td>{{ paymentHistory.groupsName }}</td>
          <td>{{ paymentHistory.userId }}</td>
          <td>{{ paymentHistory.paymentFrom | formatMediumDate }}</td>
          <td>{{ paymentHistory.paymentTo | formatMediumDate }}</td>
          <td>{{ paymentHistory.createdAt | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-history', paymentHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-history', paymentHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentHistories && paymentHistories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
