<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-history-heading"
        data-cy="PaymentHistoryCreateUpdateHeading"
        jhiTranslate="pmsApp.paymentHistory.home.createOrEditLabel"
      >
        Create or edit a Payment History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.organizationName" for="field_organizationName"
            >Organization Name</label
          >
          <input
            type="text"
            class="form-control"
            name="organizationName"
            id="field_organizationName"
            data-cy="organizationName"
            formControlName="organizationName"
          />
          <div
            *ngIf="
              editForm.get('organizationName')!.invalid &&
              (editForm.get('organizationName')!.dirty || editForm.get('organizationName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('organizationName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.serviceName" for="field_serviceName">Service Name</label>
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
          <div *ngIf="editForm.get('serviceName')!.invalid && (editForm.get('serviceName')!.dirty || editForm.get('serviceName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('serviceName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.groupsName" for="field_groupsName">Groups Name</label>
          <input
            type="text"
            class="form-control"
            name="groupsName"
            id="field_groupsName"
            data-cy="groupsName"
            formControlName="groupsName"
          />
          <div *ngIf="editForm.get('groupsName')!.invalid && (editForm.get('groupsName')!.dirty || editForm.get('groupsName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('groupsName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('userId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.paymentFrom" for="field_paymentFrom">Payment From</label>
          <div class="input-group">
            <input
              id="field_paymentFrom"
              data-cy="paymentFrom"
              type="text"
              class="form-control"
              name="paymentFrom"
              ngbDatepicker
              #paymentFromDp="ngbDatepicker"
              formControlName="paymentFrom"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentFromDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('paymentFrom')!.invalid && (editForm.get('paymentFrom')!.dirty || editForm.get('paymentFrom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentFrom')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.paymentTo" for="field_paymentTo">Payment To</label>
          <div class="input-group">
            <input
              id="field_paymentTo"
              data-cy="paymentTo"
              type="text"
              class="form-control"
              name="paymentTo"
              ngbDatepicker
              #paymentToDp="ngbDatepicker"
              formControlName="paymentTo"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('paymentTo')!.invalid && (editForm.get('paymentTo')!.dirty || editForm.get('paymentTo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentTo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.paymentHistory.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
