<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-service-heading" data-cy="ServiceCreateUpdateHeading" jhiTranslate="pmsApp.service.home.createOrEditLabel">
        Create or edit a Service
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.periodType" for="field_periodType">Period Type</label>
          <select class="form-control" name="periodType" formControlName="periodType" id="field_periodType" data-cy="periodType">
            <option [ngValue]="null">{{ 'pmsApp.PeriodType.null' | translate }}</option>
            <option *ngFor="let periodType of periodTypeValues" [value]="periodType">
              {{ 'pmsApp.PeriodType.' + periodType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('periodType')!.invalid && (editForm.get('periodType')!.dirty || editForm.get('periodType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('periodType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.chronometricType" for="field_chronometricType">Chronometric Type</label>
          <select
            class="form-control"
            name="chronometricType"
            formControlName="chronometricType"
            id="field_chronometricType"
            data-cy="chronometricType"
          >
            <option [ngValue]="null">{{ 'pmsApp.ChronometricType.null' | translate }}</option>
            <option *ngFor="let chronometricType of chronometricTypeValues" [value]="chronometricType">
              {{ 'pmsApp.ChronometricType.' + chronometricType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.periodCount" for="field_periodCount">Period Count</label>
          <input
            type="number"
            class="form-control"
            name="periodCount"
            id="field_periodCount"
            data-cy="periodCount"
            formControlName="periodCount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.service.startDate" for="field_startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
