<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="service">
      <h2 data-cy="serviceDetailsHeading"><span jhiTranslate="pmsApp.service.detail.title">Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ service.id }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.name">Name</span></dt>
        <dd>
          <span>{{ service.name }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.price">Price</span></dt>
        <dd>
          <span>{{ service.price }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.periodType">Period Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pmsApp.PeriodType.' + service.periodType }}">{{ service.periodType }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.chronometricType">Chronometric Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pmsApp.ChronometricType.' + service.chronometricType }}">{{ service.chronometricType }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.periodCount">Period Count</span></dt>
        <dd>
          <span>{{ service.periodCount }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.service.startDate">Start Date</span></dt>
        <dd>
          <span>{{ service.startDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
