<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="pmsApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.paymentFrom" for="field_paymentFrom">Payment From</label>
          <div class="input-group">
            <input
              id="field_paymentFrom"
              data-cy="paymentFrom"
              type="text"
              class="form-control"
              name="paymentFrom"
              ngbDatepicker
              #paymentFromDp="ngbDatepicker"
              formControlName="paymentFrom"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentFromDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('paymentFrom')!.invalid && (editForm.get('paymentFrom')!.dirty || editForm.get('paymentFrom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentFrom')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.paymentTo" for="field_paymentTo">Payment To</label>
          <div class="input-group">
            <input
              id="field_paymentTo"
              data-cy="paymentTo"
              type="text"
              class="form-control"
              name="paymentTo"
              ngbDatepicker
              #paymentToDp="ngbDatepicker"
              formControlName="paymentTo"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('paymentTo')!.invalid && (editForm.get('paymentTo')!.dirty || editForm.get('paymentTo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentTo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.payedMoney" for="field_payedMoney">Payed Money</label>
          <input
            type="number"
            class="form-control"
            name="payedMoney"
            id="field_payedMoney"
            data-cy="payedMoney"
            formControlName="payedMoney"
          />
          <div *ngIf="editForm.get('payedMoney')!.invalid && (editForm.get('payedMoney')!.dirty || editForm.get('payedMoney')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('payedMoney')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('payedMoney')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.payer" for="field_payer">Payer</label>
          <select class="form-control" id="field_payer" data-cy="payer" name="payer" formControlName="payer" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.service" for="field_service">Service</label>
          <select
            class="form-control"
            id="field_service"
            data-cy="service"
            name="service"
            formControlName="service"
            [compareWith]="compareService"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="serviceOption" *ngFor="let serviceOption of servicesSharedCollection">{{ serviceOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pmsApp.payment.group" for="field_group">Group</label>
          <select class="form-control" id="field_group" data-cy="group" name="group" formControlName="group" [compareWith]="compareGroups">
            <option [ngValue]="null"></option>
            <option [ngValue]="groupsOption" *ngFor="let groupsOption of groupsSharedCollection">{{ groupsOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
