<div>
  <h2 id="page-heading" data-cy="ServiceHeading">
    <span jhiTranslate="pmsApp.service.home.title">Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pmsApp.service.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service"
        [routerLink]="['/service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pmsApp.service.home.createLabel"> Create a new Service </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="services?.length === 0">
    <span jhiTranslate="pmsApp.service.home.notFound">No Services found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="services && services.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="periodType">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.periodType">Period Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="chronometricType">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.chronometricType">Chronometric Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="periodCount">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.periodCount">Period Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="pmsApp.service.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/service', service.id, 'view']">{{ service.id }}</a>
          </td>
          <td>{{ service.name }}</td>
          <td>{{ service.price }}</td>
          <td jhiTranslate="{{ 'pmsApp.PeriodType.' + service.periodType }}">{{ service.periodType }}</td>
          <td jhiTranslate="{{ 'pmsApp.ChronometricType.' + service.chronometricType }}">{{ service.chronometricType }}</td>
          <td>{{ service.periodCount }}</td>
          <td>{{ service.startDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/service', service.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/service', service.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(service)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
