<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentHistory">
      <h2 data-cy="paymentHistoryDetailsHeading"><span jhiTranslate="pmsApp.paymentHistory.detail.title">Payment History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paymentHistory.id }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.organizationName">Organization Name</span></dt>
        <dd>
          <span>{{ paymentHistory.organizationName }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.serviceName">Service Name</span></dt>
        <dd>
          <span>{{ paymentHistory.serviceName }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.groupsName">Groups Name</span></dt>
        <dd>
          <span>{{ paymentHistory.groupsName }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.userId">User Id</span></dt>
        <dd>
          <span>{{ paymentHistory.userId }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.paymentFrom">Payment From</span></dt>
        <dd>
          <span>{{ paymentHistory.paymentFrom | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.paymentTo">Payment To</span></dt>
        <dd>
          <span>{{ paymentHistory.paymentTo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pmsApp.paymentHistory.createdAt">Created At</span></dt>
        <dd>
          <span>{{ paymentHistory.createdAt | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-history', paymentHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
